extends base.pug

block content
    h4 Changing Title of Video 

    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="save", type="submit")