extends base.pug

block content       
    form(method="POST", action="/videos/upload")
        input(placeholder="Tittle", type="text", required, name="title")
        input(type="submit", value="Upload Video")